{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos</title>
</head>
<body>
    <h1>Seleccione archivo</h1><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="uploadedfile" />&nbsp&nbsp&nbsp&nbsp
        <input type="submit" value="Guardar archivo" />
    </form>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</body>
</html>

{% endblock %}