{% extends 'base.html' %} <!-- añadimos el archivo base.html-->
{% load static %} <!-- cargamos los archivos de la carpeta static-->

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar informacion</title>
</head>
<body>
    <h1>Datos</h1>
    <table border="1px">
        <tr>
            <td>Nombre</td>
            <td>Cantidad</td>
        </tr>
        <tr>
            <td>Bryan </td>
            <td>{{cc1}}</td>
        </tr>
        <tr>
            <td>Diego</td>
            <td>{{cc2}}</td>
        </tr>
    </table>
    <!--Datos: {{stringval}}<br> -->
     <br>
     <br>
    Total registros: {{total}} <br>
    <img src="data:image/png;base64,{{ data }}" alt="" height="250" ,width="250"> <!-- mostramos el grafico con los datos que vienen en la variable "data"-->
    
</body>
</html>

{% endblock %}