{% extends 'base.html' %} <!-- añadimos el archivo base.html-->
{% load static %} <!-- cargamos los archivos de la carpeta static-->

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar informacion</title>
</head>
<body>
    <section class="container">
        <div class="row">
            <div class="col-lg-4 col-12" style="
            background-color: #f5f5f5;
            border-radius: 15px;
            padding: 30px 25px;
            box-shadow: 0px 0px 18px 7px rgba(0,0,0,.2);
            height: 100%;">
        
        
            <h4 style="text-align: center;">Fomulario de Busqueda</h4>
            <hr align="center" width="80" color="#8167a9" style="height:2px">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mt-5">
                    <input type="text" id="search" name="search" class="form-control" placeholder="RUT Ej: 12345678-9">
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6 col-12">
                        <input type="date" id="inicio" name="inicio" class="form-control">
                    </div>
                    <div class="col-lg-6 col-12">
                        <input type="date" id="fin" name="fin" class="form-control">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success btn-xs" style="padding: 10px">Generar Gráfico</button>
            </form>
            </div>
            <div class="col-lg-8 col-12">
            	<div class="card">
                    
                    <div class="card-header border-0">
                        <h3 class="card-title">Datos Personales</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Rut</th>
                                    <th>Direccion</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Ciudad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {%for y in personal%}
                                    <td>{{y}}</td>
                                    {%endfor%}
                                </tr>
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Rut</th>
                                    <th>Direccion</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Ciudad</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card">
                    
                    <input type="hidden" name="data" id="data" value="{{data}}">
                    <input type="hidden" name="fecha" id="fecha" value="{{dato_fecha}}">
                    <div class="card-header border-0">
                        <h3 class="card-title" id="add"></h3>
                    </div>
                    <div class="card-body">
                        <div class="position-relative mb-4">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Datos de las Sesiones</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Nombre Profesional</th>
                                    <th>Profesion</th>
                                    <th>Centro Salud</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for x in sesiones%}
                                <tr>
                                    <td>{{x.0.nombre_sesion}}</td>
                                    <td>{{x.0.fecha}}</td>
                                    <td>{{x.0.nombre_profesional}}</td>
                                    <td>{{x.0.profesion}}</td>
                                    <td>{{x.0.centro_salud}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Nombre Profesional</th>
                                    <th>Profesion</th>
                                    <th>Centro Salud</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <script>
        var fecha = $("#fecha").val();
        var fecha1 = fecha.split(",")
        var cont = 0
        var ig = ''
        var cadena = ''
        var valor = ''
        var fecha2 = Array()
        var largofecha = fecha1.length
        for(i=0;i<fecha1.length;i++){
            contador = 1
            fecha3 = fecha1[i]
            if(fecha3!=''){
                for(x=i+1;x<fecha1.length;x++){
                    if(fecha1[i] == fecha1[x]){
                        contador += 1
                        fecha1[x]=''
                    }
                }
                fecha2.push([fecha3,contador])
                cadena += fecha3+","
                valor  += contador.toString()+"," 
            }
        }
        cadena = cadena.substr(0,cadena.length-1)
        valor = valor.substr(0,valor.length-1)
        console.log(fecha2,cadena.substr(0,cadena.length-1),valor)    
        var ctx = document.getElementById('myChart').getContext('2d');
        
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: cadena.split(","),
                datasets: [{
                    label: '# Visitas',
                    data: valor.split(","),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var nombre = $("#data").val() 
        $(document).ready(function(){
            if($("#fecha").val() == ""){
                $("#add").text("Gráfico de "+ nombre);
            }
            else{
                $("#add").text("Gráfico de "+nombre);
            }
        })
    </script> 
    
</body>
</html>

{% endblock %}