{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>

    <h1>Estamos en la pagina de inicio</h1>
    Nombre del ramo: {{Ramo}}<br><!-- mostramos la variable Ramo-->
    Fecha actual: {{fecha}}<!-- mostramos la variable fecha-->
    <ul>
        {% for i in lenguajes %} <!-- abrimos ciclo for para leer lista-->
            {% if i == 'Python' %} <!-- colocamos un if-->
                <li style="color: red;" >{{i}}</li> <!-- mostramos el elemento-->
            {% else %}
                <li>{{i}}</li> <!-- mostramos el elemento-->
            {% endif %}
        {% endfor %}<!-- cerramos ciclo for-->
    </ul>
    {# etiqueta para comentarios de una linea #}
    
    {% comment %}
    Este es un
    comentariosde mas de 1
    linea
    {% endcomment %}
</body>
</html>

{% endblock %}