{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
<div class="card-body">
    <table class="table table-bordered table-striped" id="table1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Rut</th>
                <th>Direccion</th>
                <th>Fecha Nacimiento</th>
                <th>Ciudad</th>
                <th>Sesiones medicas</th>
                <th>Graficos</th>
            </tr>
        </thead>
        <tbody>
            {%for cursor in cursor%}
            <tr>
                <td>{{cursor.nombre}}</td>
                <td>{{cursor.apellidos}}</td>
                <td>{{cursor.rut}}</td>
                <td>{{cursor.direccion}}</td>
                <td>{{cursor.fecha_nacimiento}}</td>
                <td>{{cursor.ciudad}}</td>
                <form method="POST" class="form-inline">
                    {% csrf_token %}
                    <input type="hidden" id="search" name="search" class="form-control"  value="{{cursor.rut}}">
                    <td align="center">
                        <button  type="submit" class="btn btn-primary" value="sesiones" name="sesiones" id="sesiones">Sesiones<span ></span> </button> 
                    </td>
                    <td align="center" >
                        <button  type="submit" class="btn btn-info" value="graficos" name="graficos" id="graficos">Graficos<span ></span> </button>  
                    </td>
                </form> 
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $('#table1').DataTable();
        });
</script>
</body>
</html>
{% endblock %}
